dotNET/pdfclown.lib/obj/
main/res/samples/input/pdf/work/temp/
dotNET/pdfclown.samples.cli/output/
dotNET/pdfclown.samples.cli/obj/
dotNET/pdfclown.samples.cli/build/
dotNET/.vs/
dotNET/pdfclown.lib/build/
