bin
obj
*~
~*
*.sln.cache
*.suo
*.user
*.dotCover
*.pidb
*.userprefs
*.usertasks
*.mdb
*.diagsession
*.vspx
.DS_Store
test-results
.nuget/
packages/
.vs/
.vscode/
main/res/samples/input/pdf/work/temp/
dotNET/PdfClown.Samples/output/
dotNET/PdfClown.Samples/build/
dotNET/PdfClown/build/
